name: Deploy App to Ubuntu Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy locally on server
        run: |
          cd /home/Guillo/proyecto/BDD-de-Clima
          git pull origin main
          chmod +x run.sh
          ./run.sh
